* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

.app {
  background-image: linear-gradient(#061520, #008ac1);
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  width: 100%;
  background-color: rgba(12, 68, 88, 0.2274509804);
  box-shadow: 3px 2px 10px #061520;
  z-index: 99;
}

.header_logo {
  padding: 8px;
}
.header_logo a img {
  width: 120px;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  text-align: center;
}
.header_menu a {
  color: #e6ebf0;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 8px 8px 8px #0c4458;
  height: 100%;
  line-height: 103.11px;
  width: 100%;
  border: 1px solid transparent;
}
.header_menu a:hover {
  text-decoration: none;
  color: #2ba4cf;
  line-height: 100.11px;
  transition: all 0.4s ease;
  border: 1px solid #0c4458;
}

.silder {
  display: flex;
  height: 720px;
  width: 100%;
  box-shadow: 8px 8px 8px #061520;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  overflow: hidden;
}
.silder .hello {
  background-image: linear-gradient(to right, #0c4458, #000);
  width: 38%;
  height: 100%;
  position: relative;
}
.silder .hello .content_slider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.silder .hello .content_slider h1 {
  font-size: 60px;
  color: #ccc;
  font-weight: 900;
  text-shadow: 3px 3px 5px #061520;
}
.silder .hello .content_slider h2 {
  font-size: 34.5px;
  font-weight: bold;
  color: transparent;
  position: relative;
  letter-spacing: 3px;
  -webkit-text-stroke: 0.03vw #05a7d5;
}
.silder .hello .content_slider h2::before {
  content: "FrontendDeveloper";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  color: #05a7d5;
  -webkit-text-stroke: 0vw #05a7d5;
  border-right: 2px solid #05a7d5;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}
.silder .hello .content_slider .link_fb-phone {
  display: flex;
  margin: 0 -3px;
}
.silder .hello .content_slider .link_fb-phone .icon_contact {
  border: 1px solid #05a7d5;
  color: #05a7d5;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 5px 10px;
  margin: 0 3px;
  border-radius: 50%;
}
.silder .avt_hello {
  display: flex;
  width: 62%;
}
.silder .avt_hello img {
  object-fit: cover;
  width: 100%;
  filter: brightness(50%);
}

.about {
  text-align: center;
  background-image: linear-gradient(#000, #0d2231, #004f6e);
  min-height: 720px;
  box-shadow: 8px 8px 8px #061520;
  margin-top: 50px;
  border-radius: 40px;
}
.about .about_me {
  padding-top: 30px;
}
.about .about_me h1 {
  color: #05a7d5;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #0c4458;
}
.about .box_about-avt {
  padding-top: 80px;
  height: 280px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}
.about .box_about-avt .box_about-spiner {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-left: 6px solid #05a7d5;
  border-right: 6px solid #05a7d5;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  animation: animation_deg 6s linear infinite;
}
.about .box_about-avt .about_avt {
  border: 3px solid #05a7d5;
  width: 250px;
  height: 250px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}
.about .box_about-avt .about_avt img {
  width: 100%;
  object-fit: cover;
}
@keyframes animation_deg {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
.about .about_content {
  padding-top: 80px;
}
.about .about_content h2 {
  font-size: 34.5px;
  font-weight: bold;
  color: #e6ebf0;
  text-shadow: 1px 1px 2px #41abc9;
}
.about .about_content .about_content-info {
  display: flex;
  padding: 0 80px;
  color: #05a7d5;
  font-size: 20px;
}
.about .about_content .about_content-info .info {
  width: 33.333%;
  font-weight: bold;
  text-shadow: 1px 1px 2px #41abc9;
}
.about .about_content .about_content-info .info p {
  color: #e6ebf0;
}

.skills {
  background-image: linear-gradient(#000, #0d2231, #004f6e);
  min-height: 720px;
  box-shadow: 8px 8px 8px #061520;
  margin-top: 50px;
  border-radius: 40px;
  position: relative;
  text-align: center;
}
.skills h1 {
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 5px;
  padding-top: 30px;
  animation: animation_led-text 5s linear infinite;
}
@keyframes animation_led-text {
  0%, 18%, 20.1%, 30%, 50.1%, 60%, 65.1%, 80%, 90%, 92.1%, 100% {
    color: #0a1a25;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4;
  }
}
.skills .skills_block {
  padding: 0 5px;
  display: flex;
  color: #05a7d5;
  font-weight: bold;
  align-self: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.skills .skills_block .skills_experience {
  margin: 5px;
  border-radius: 8px;
  padding: 20px;
  width: 33.3333%;
  border: 1px solid #05a7d5;
  box-shadow: 0 0 5px #008ac1;
}
.skills .skills_block .skills_experience h2 {
  font-size: 40px;
  padding: 20px 0;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4;
}
.skills .skills_block .skills_experience li {
  font-size: 25px;
  text-shadow: 0 0 5px #008ac1;
}

.contact {
  margin-bottom: 50px;
  background-image: linear-gradient(#000, #0d2231, #004f6e);
  min-height: 720px;
  box-shadow: 8px 8px 8px #061520;
  margin-top: 50px;
  border-radius: 40px;
  text-align: center;
  justify-content: center;
}
.contact h1 {
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 5px;
  font-size: 80px;
  color: transparent;
  padding-top: 30px;
  position: relative;
  -webkit-text-stroke: 2px #05a7d5;
  text-shadow: 3px 3px 4px #0c4458;
  letter-spacing: 12px;
}
.contact form {
  padding-top: 30px;
  width: 60%;
  margin: auto;
}
.contact form input[type=submit] {
  padding: 10px 50px;
  color: #05a7d5;
  text-shadow: 0 0 5px #008ac1;
  font-weight: bold;
}
.contact form input[type=submit]:hover {
  background-color: #05a7d5;
  color: #e6ebf0;
  transition: all 0.2s linear;
  cursor: pointer;
  border-top: 3px solid #e6ebf0;
  border-bottom: 3px solid #e6ebf0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
.contact form input {
  padding: 10px;
  background-color: transparent;
  border: 3px solid #05a7d5;
  border-radius: 5px;
  box-shadow: 0 0 5px #008ac1;
}
.contact form input:hover {
  border: 3px solid #e6ebf0;
  transition: all 0.2s linear;
}
.contact form .contact_name-phone {
  display: flex;
}
.contact form .contact_name-phone input {
  width: 50%;
}
.contact form .contact_email-note input {
  width: 100%;
  margin: 5px 0;
}
.contact form .contact_email-note textarea {
  width: 100%;
  background-color: transparent;
  border: 3px solid #05a7d5;
  box-shadow: 0 0 5px #008ac1;
  border-radius: 5px;
  padding: 10px;
}
.contact form .contact_email-note textarea:hover {
  border: 3px solid #e6ebf0;
  transition: all 0.2s linear;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(#004f6e, #0d2231);
  text-align: center;
  align-items: center;
  padding: 10px 0;
  color: #05a7d5;
  text-shadow: 0 0 5px #008ac1;
  font-weight: bold;
  box-shadow: 0px 0px 10px #000;
}
.footer .footer_phone-mail {
  text-align: left;
}

.admin {
  padding-top: 104.7px;
}
.admin .header_admin {
  background-color: #262626;
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
  align-items: center;
}
.admin .header_admin p {
  padding: 0 20px;
  margin: auto 0;
  color: #05a7d5;
  font-size: 25px;
  font-weight: bold;
}
.admin .header_admin .nav_avt {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.admin .header_admin .nav_avt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.admin .nav-content-admin_box {
  border-top: 3px solid #0c4458;
  display: flex;
}
.admin .nav-content-admin_box .nav_admin {
  text-align: center;
  font-size: 20px;
  width: 12%;
  border-right: 3px solid #262626;
  padding-bottom: 165px;
}
.admin .nav-content-admin_box .nav_admin .active {
  color: #05a7d5;
}
.admin .nav-content-admin_box .nav_admin a {
  border-bottom: 1px solid #262626;
  display: block;
  padding: 20px 0;
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  transition: all 0.2s linear;
}
.admin .nav-content-admin_box .nav_admin a:hover {
  background-color: #ccc;
  color: #262626;
}
.admin .nav-content-admin_box .nav_content-admin {
  width: 88%;
}
.admin .nav-content-admin_box .nav_content-admin table {
  text-align: center;
  color: #ccc;
  font-weight: bold;
}

/*# sourceMappingURL=app.css.map */
