<div class="admin">
  <div class="header_admin">
    <p>Xin chào Admin</p>
    <div class="nav_avt">
      <img src="/img/AVT.png" alt="not img" />
    </div>
  </div>

  <div class="nav-content-admin_box">
    <div class="nav_admin">
    <a class="active" href="/admin">Trang chủ ADMIN</a>
    <a href="/admin/about">About</a>
    <a href="/admin/skills">Skills</a>
    <a style="border-bottom: none ;" href="/admin/contact">Contact</a>
  </div>

  <div class="nav_content-admin">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full name</th>
          <th scope="col">Birth</th>
          <th scope="col">HomeTown</th>
          <th scope="col">nationality</th>
          <th scope="col">Education</th>
          <th scope="col">Cover Name</th>
          <th scope="col">Cover image</th>
          <th scope="col">image</th>
          <th scope="col" colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td><a href=""><i class="bi bi-pencil-square"></i></a></td>
          <td><a href=""><i class="bi bi-trash3-fill"></i></a></td>
        </tr>
      </tbody>
    </table>

  </div>
  </div>
</div>