{{!-- HOME --}}
<div id="home" class="silder animate__animated animate__slideInDown">
  <div class="hello">
    <div class="content_slider">
      <H1 class="animate__animated animate__bounceInRight">Hi, I'm Hoang Son</H1>
      <h2>FrontendDeveloper</h2>
      <div class="link_fb-phone">
        <a class="icon_contact" href="#"><i class="bi bi-facebook"></i></a>
        <a class="icon_contact" href="#"><i class="bi bi-telephone"></i></a>
      </div>
    </div>
  </div>
  <div class="avt_hello">
    <img src="/img/AVT.png" alt="not img" />
  </div>
</div>
{{!-- ABOUT --}}
<div id="about" class="about" data-aos="fade-up-right">
  <div class="about_me">
    <h1>About <span style="color:#e6ebf0">Me</span></h1>
  </div>
  <div class="box_about-avt">
    <div class="about_avt">
      <img src="/img/B612_20230714_164019_032.jpg" alt="not img" />
    </div>
    <span class="box_about-spiner"></span>
  </div>
  <div class="about_content">
    <h2>Fontend Developer</h2>
    <div class="about_content-info">
      <div class="info">
        <h3>Full name</h3>
        <p>Giáp Hoàng Sơn</p>
        <h3>Date of birth</h3>
        <p>02/03/1995</p>
      </div>
      <div class="info">
        <h3>Hometown</h3>
        <p>Bắc Giang</p>
        <h3>Nationality</h3>
        <p>Việt Nam</p>
      </div>
      <div class="info">
        <h3>Education</h3>
        <p>Tốt nghiệp đại học Bách Khoa chuyên ngành công nghệ phần mềm.</p>
      </div>
    </div>
  </div>
</div>
{{!-- SKILLS --}}
<div id="skills" class="skills" data-aos="zoom-in-up">
  <h1>My Skills</h1>
  <div class="skills_block" >
    <div class="skills_experience" style="text-align: left;">
    <h2 style="text-align: center;">Coding experience</h2>
    <ul>
      <li>Lập trình viên Viện Khoa Học Đào Tạo Phát Triển Nhân Lực ISTDH.</li>
      <li>TE-Quản lý nhân sự khối giảng viên của trung tâm giáo dục.</li>
      <li>Giảng viên dạy lập trình MindX.</li>
    </ul>
  </div>

  <div class="skills_experience">
    <h2>Coding skills</h2>
    <ul>
      <li>HTML</li>
      <li>CSS/SASS</li>
      <li>JavaScript</li>
      <li>PHP</li>
      <li>Nodejs</li>
      <li>MongoDB</li>
      <li>Python</li>
      <li>GML</li>
    </ul>
  </div>

  <div class="skills_experience">
    <h2>Other experiences</h2>
    <ul>
      <li>Quản lý nhà hàng</li>
      <li>Cửa hàng trưởng</li>
      <li>Pt thể hình</li>
      <li>Huấn luyện viên boxing</li>
    </ul>
  </div>
  </div>
</div>

{{!-- Contact --}}
<div id="contact" class="contact" data-aos="fade-up" data-aos-anchor-placement="top-center">
  <h1>CONTACT</h1>
  <form action="" method="post">
    <div class="contact_name-phone">
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Phone">
    </div>
   <div class="contact_email-note">
    <input type="text" placeholder="Email">
    <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
   </div>
   <input type="submit" value="Submit">
  </form>
</div>